@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');

.font-geist {
  font-family: "Geist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}